* {
    /* width is measured from border-to-border */
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.barchart {
    display: inline-block;
    height: 400px;
    padding: 2em;
    background-color: lightgrey;
}

.bar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 300px;
    margin: 0 2em;
    background-color: white;
}

.bar-inner {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: crimson;
}

.bar-inner-1 {
    animation: grow-1 1.5s forwards;
    animation-delay: 0s;
}

@keyframes grow-1 {
    0% { height: 0%; }
    100% { height: 20%; }
}

.bar-inner-2 {
    animation: grow-2 1.5s forwards;
    animation-delay: 1.5s;
}

@keyframes grow-2 {
    0% { height: 0%; }
    100% { height: 30%; }
}

.bar-inner-3 {
    animation: grow-3 2.5s forwards;
    animation-delay: 3s;
}
.barchart span{
    position: absolute;
    top: 65%;
}
.span1{
    left: 43%;
}
.span2{
    left: 49%;
}
.span3{
    left: 55%;
}

@keyframes grow-3 {
    from { height: 0%; }
    to { height: 80%; }
}